


.bg-body-tertiary {
    background-color: #yourBackgroundColor; 
  }
  
 
  .navbar-brand {
    font-size: 30px; 
    font-weight: bold; 
    text-align: center; 
    width: 100%; 
  }
  
  
  .nav-link {
    color: #yourLinkTextColor; 
    margin-right: 10px; 
  }