.jumbotron {
    margin: 0; /* Remove margin on top, right, bottom, and left */
    padding-left: 200px; /* Add padding for inner content on the left */
    padding-right: 200px; /* Add padding for inner content on the right */
    background-color: brown;
    color: aliceblue;
    border-radius: 10px; /* Increase border-radius for rounded corners */

    /* Center the jumbotron */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Set the height to 70% of the viewport height */
}
