.jumbotron {
    margin: 0; 
    padding-left: 200px; 
    padding-right: 200px; 
    background-color: brown;
    color: aliceblue;
    border-radius: 10px; 
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; 
}
